@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins {
    font-family: Poppins;
}

.lato {
    font-family: Lato;
}

/* Ẩn thanh cuộn*/
.overscrollHidden::-webkit-scrollbar {
    width: 0;
}

.overscrollHidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sliderbanner:hover .btn_banner_home {
    display: block !important;
}