<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Helllo <%=title%></h1>
    <a href="/auth/google">đăng nhập </a> <br>
    <a href="/auth/login/success">check đang nhập hay chưa </a><br>
    <a href="/auth/log-out">đăng xuất</a>
</body>
</html>